.head{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 204, 231);
    height: 50px;
    border: 2px solid black;
}

.no{
    display: flex;
    text-align: center;
    font-size: 40px;
    justify-content: center;
    padding-top: 100px;
}


  cardContainer {
    display: grid;
    /* gridTemplateColumns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 20px;
    padding: 20px;
  }
  card {
    border: 1px solid #ccc;
    /* borderRadius: 10px; */
    padding: 16px;
    /* textAlign: center;
    boxShadow: 0 2px 8px rgba(0,0,0,0.1); */
  }
  image {
    width: 100%;
    height: 150px;
    /* objectFit: cover;
    marginBottom: 10px; */
  }
  btn {
    margin: 5px;
    padding: 6px 12px;
    border: none;
    /* borderRadius: 5px; */
    /* backgroundColor: #3498db; */
    color: #fff;
    cursor: pointer;
  }
